*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body{
	box-sizing: border-box;
	padding:0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	/*background: url(../images/bg-line.jpg);*/
	background-size: cover;
    background-attachment: fixed;
    background-position: left 58px;
}

.wrapper{
	max-width: 1100px;
	width: 100%;
	margin:0 auto;
    padding:0 15px;
}

header{
	padding: 16px 0;
    box-sizing: border-box;
    background: #e00c13;
    position: fixed;
    width: 100%;
    z-index: 999;
}


header img{
    width:110px;
}

div{
	display: inline-block;
    width: 100%;
    margin: 63px auto 0;
    color:#fff;
}

div h3{
	font-size: 42px;
    font-weight: 500;
    text-align: left;
    margin-top: 40px;
}

div .sub-t{
    font-size: 20px;
    line-height: 27px;
    margin-top: 10px;
}

div h4{
    font-size: 20px;
    margin-top: 40px;
    font-weight: 400;
    margin-bottom: 10px;
}

.select-styled {
    position: relative;
    float: left;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.select-styled select {
    -webkit-appearance: none;
    width: 356px;
    height: 44px;
    padding: 0px 24px;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
    outline:none;
    font-size: 16px;
}

.select-styled:after {
    content: '\f078';
    font-family: "FontAwesome";
    color: #000;
    right: 13px;
    top: 14px;
    position: absolute;
    font-size: 12px;
    pointer-events: none;
}

.select-styled option {
    color: #000;
    background: #000;
}

.col-6{
    margin-left: 50%;
    padding-bottom: 60px;
    color:#000;
}

div table .big-price{
    font-size:56px;
}

div table .per{
    font-size:24px;
}

div table .sale{
    font-size:24px;
}

.aprx{
    font-size: 16px;
}

.red{
    color: #EA1010;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 13px;
}

div a{
    background-color: #EA1010;
    border-color: #EA1010;
    border-radius: 40px !important;
    font-weight: 400;
    min-width: 14rem;
    padding: 0.35rem 1.56rem;
    color: #000;
    font-size: 25px;
    width: 224px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

div u{
    display: block;
    font-size: 14px;
    margin-top: 12px;
}

.oss{
    margin-top: 10px;
}


.overflov{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgb(0 0 0 / 15%);
	z-index: 1;
}

.firtest{
	position: absolute;
    max-width: 816px;
    width: 100%;
    left: 50%;
    margin-left: -408px;
    top: 69px;
    z-index: 9;
    background: #fff;
    overflow: hidden;
    padding-bottom: 60px;
    box-shadow: 0px 0px 10px rgb(56 52 52 / 45%);
    border: 1px solid #c3c3c3;
    opacity: 0;
}

.firtest .icons{
	float: right;
}

.firtest .icons img{
	width: 14px;
	margin-right: 10px;
}

.firtest .icons img:nth-child(2){
	margin-right: 0px;
}

.firtest .head{
	font-size: 21px;
    line-height: 20px;
    padding: 10px 17px 10px;
    font-weight: 500;
    height: 40px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 24%);
    color: #383434;
}

.firtest .head > img{
	width: 31px;
    float: left;
    margin-right: 9px;
    margin-top: -3px;
}

.firtest .body h1{
	text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #383434;
    margin-top: 18px;
}

.firtest .body p{
	text-align: center;
    margin: 8px 0 15px;
    color: #383434;
}

.firtest .body{
	padding: 0 17px;
}

.progress {
    max-width: 95%;
    margin: 0 auto;
    width: 100%;
}
.progress h3 {
    margin: 30px 0px 10px;
}
.green-red {
    height: 32px;
    background: #e0e0e0;
    border-radius: 0px;
}
.move {
    height: 32px;
    background-color: #25c503;
    border-radius: 0px;
    position: relative;
    width: 0;
    transition: 10.8s linear;
}
.move::before {
    /*content: attr(percent);*/
    position: absolute;
    right: 0px;
    left: 0px;
    padding: 1px 0px;
    color: #ffffff;
    font-size: 14px;
    line-height: 25.5px;
    border-radius: 25px;
    font-weight: bold;
    width: 20px;
    margin: 0px auto;
}


.total{
	padding: 0 15px;
    margin-bottom: -26px;
    position: relative;
    z-index: 9;
}

#cont{
	float: right;
}

.summa{
	background: #f1f1f1;
    width: 95%;
    margin: 0 auto 10px;
    padding: 5px 30px;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid #c3c3c3;
    font-weight: 400;
    /* text-shadow: 0px 0px 0px #000; */
    margin-top: 10px;
}

.mix-wirds{
	width: 95%;
    margin: 7px auto 22px;
    box-sizing: border-box;
    font-size: 12px;
    color: #343434;
    padding-left: 15px;
}

.tsrd{
	float: right;
	font-style: normal;
}

.tsrr{
	float: right;
	font-style: normal;
}

.tsrra{
	float: right;
	font-style: normal;
}

.table-1{
	width:24%;
	color: #c01515;
}

.firtest table{
	width: 90%;
    margin: 12px auto 0;
}

.firtest tr{
	margin-bottom: 15px;
}

.firtest td{
	border-bottom: 10px solid #f1f1f1;
}

.firtest table{
	display: none;
}

.two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve, .thirteen, .fourteen, .fifteen, .sixteen, .seventeen, .eighteen{
	display: none;
}

.tog{
	position: absolute;
    right: 40px;
    bottom: 10px;
    width: 122px;
}

.latest{
	position: absolute;
    left: 50%;
    top: 115px;
    width: 570px;
    background: #fff;
    z-index: 99;
    margin-left: -285px;
    border: 1px solid #c3c3c3;
    box-shadow: 0px 0px 10px rgb(52 52 52 / 43%);
    padding-bottom: 25px;
    display:none;
}

.latest .head {
    font-size: 21px;
    line-height: 23px;
    padding: 15px 70px 15px 60px;
    font-weight: 500;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 24%);
    color: #fff;
    background: #c01818;
    position: relative;
}

.latest .head > img {
    width: 32px;
    float: left;
    margin-right: 9px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
    left: 15px;
}

.high{
    background:red;
}

.latest .icons {
    float: right;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -10.5px;
}

.latest .icons img {
    width: 14px;
    margin-right: 10px;
}

.latest .icons img:nth-child(2) {
    margin-right: 0px;
}

.latest .body{
	padding: 30px 20px 0;
}

.latest .body i{
	margin-bottom: 20px;
    display: block;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
}

.latest .body i b{
	text-align: center;
}

.url{
	text-align:center;
	margin: 36px 0;
}

.url a{
	background: #e00c13;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    /* max-width: 300px; */
    display: inline-block;
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
    padding: 10px 20px;
}

.overflov_2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0 0 0 / 49%);
    z-index: 9;
    display: none;
}

.upp{
	width:204px;
	position: absolute;
	right: 20px;
	position: fixed;
  	bottom: -235px;
	border: 1px solid #383434;
	z-index: 999999;
    background: #f7f7f7;
    padding: 4px;
    transition: 0.7s;

}

.upp .head{
	background: #e00c13;
    color: #fff;
    padding: 3px 6px;
    margin-bottom: 10px;
}

.upp .head i{
	font-style: normal;
	font-size: 14px;
}

.upp .body ul{
	padding: 0 0 0 15px;
}

.upp .body ul li{
	list-style-type: none;
	margin-bottom: 10px;
	font-size: 14px;
	text-shadow: 0px 0px 0px #000;
}

.upp .body ul li span{
	display: block;
    font-size: 12px;
    text-shadow: none;
}

.upp .body img{
	margin-bottom: -2px;
}

.under-btn{
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    font-weight: 600;
}


@media(min-height: 620px){
	body{overflow: hidden;}
}

@media(max-width: 816px){
    .firtest{
    left: 0%;
    margin-left: 0px;}
}

.VIpgJd-ZVi9od-aZ2wEe-OiiCO-ti6hGc{display: none!important;}
.skiptranslate{display: none!important;}
body{top: 0!important;}